.button {
	margin-top: 3rem;
	
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: normal;
	color: var(--corTexto);

	background-color: var(--corBotoes);

	padding: 1rem 3rem;
	width: fit-content;
	border-width: 0;
	border-radius: 1.5rem;

	cursor: pointer;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: .5rem;
}

.button:active {
	cursor: default;
}