.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-top: 10rem;
    min-height: 90vh;
}

.header {
    margin-bottom: 10rem;
}