.entrada {
  text-align: center;
  width: 40rem;
  height: 3.8rem;

  border: .1rem solid #bbb;
  border-radius: 3rem;

  display: block;

  margin: 3rem 0;

  background-color: #bbb;
  color: #fff;
}

.entrada::placeholder {
  color: #fff;
}