.container {
    margin: 10rem 0;
    padding: 0 10rem;

    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.detalhes {
    width: 50%;

    border: .1rem solid #000;
    border-radius: 1.5rem 1.5rem 0 0;

    background-color: #ddd;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.detalhes p:first-child {
    width: 100%;
    margin: 0;  
}

.texto {
    padding: 1.2rem;

    font-size: 1.4rem;
    color: #000;
}