.moldura {
    margin: 5rem 1rem;
		padding: 1rem 0;
    
    font-size: 1.6rem;

    border: 3px solid  #368e97;
    border-radius: 2rem;
    color: #368e97;
    font-weight: bold;
      

    width: 15rem;
    height: 15rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    background-color: #e3f7f7;
    
}

.moldura p {
		font-size: 1.4rem;
		text-align: center;
		text-wrap: balance;
}

.titulo {
    text-align: center;
    font-weight: bold;
}

.acoes {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.icone {
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    color: var(--corAction);
    border: none;
    background-color: transparent;
}

.icone:active {
    cursor: default;
}

.link {
    z-index: 10;
}