.moldura {
    margin: 5rem 1rem;
    
    font-size: 1.6rem;

    border: 3px solid  #368e97;
    border-radius: 1rem;
    color: #368e97;
    font-weight: bold;
      

    width: 15rem;
    height: 15rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;

    background-color: #e3f7f7;
    
}

.moldura p {
    padding: 3rem;
}

.titulo {
    text-align: center;
    font-weight: bold;
}

.acoes {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.icone {
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    color: #333;
    border: none;
    background-color: transparent;
}

.icone:active {
    cursor: default;
}

.link {
    z-index: 10;
}