.entrada {
  text-align: center;
  width: 30rem;
  height: 3.8rem;

  border: .1rem solid var(--corEntradas);
  border-radius: 1rem;

  display: block;

  margin: 1.5rem 0;

  background-color: var(--corEntradas);
  color: var(--corTexto);
}

.entrada::placeholder {
  color: var(--corTexto);
}

@media screen and (min-width: 1280px) {
  .entrada {
    width: 40rem;
  }
}