.tag {
    margin-top: 3rem;

    font-size: 1.8rem;
    font-weight: bold;
    color: var(--corTexto);
    border-radius: 1rem 1rem 1rem 1rem;

    background-color: var(--corBotoes);

    padding: 1rem 3rem;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}