.tag {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--corTexto);

    background-color: var(--corBotoes);

    padding: 1rem 3rem;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}