.info {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
}

.moldura {
    background-color: var(--corBotoes);

    width: 100%;

    border-radius: 1.5rem;
}

.moldura div {
    width: 100%;
    
    background-color: var(--corBotoes);
    color: var(--corTexto);
}

.moldura > div:nth-child(1) > p {
    background-color: var(--corTexto);
    color: #222;
}

.actions {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}