.container {
    width: 100%;

    margin: 10rem 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.header {
    margin-bottom: 3rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.header p {
    font-size: 1.8rem;
}

.main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10rem;
    width: 75%;
}