.lista {
	list-style: none;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

.item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	font-size: 1.8rem;

	width: 100%;
}

.table {
	width: 100%;
}

.header {
	text-align: justify;
}

.dados {
	width: 100%
}

.dados td {
	width: 30%
}

.acoes {
	width: 10%;
}