.navbar {
	display: flex;
	flex-direction: row;
	width: 100%;

	background-color: var(--corBotoes);
	color: #fff;
}

.navbar ul {
	width: 100%;

	padding: 1rem 2rem;

	font-size: 1.4rem;
	font-weight: bold;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.navbar ul li {
	list-style: none;
	background-color: transparent;
}

.link {
	display: block;
	text-decoration: none;
	color: var(--corBotoes);
	padding: 1rem 2rem;
	border-radius: 1rem;
	background-color: var(--corTexto);
	min-width: fit-content;
	width: 10rem;
	text-align: center;

	transition: all ease .5s;
}

.link:hover {
	background-color: var(--corTextoHover);
	color: var(--corTexto);
}

.link:active {
	cursor: default;
	background-color: var(--corTexto);
	color: var(--corBotoes);
}

.nav {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}